@charset "UTF-8";

body {            
    background-color: aquamarine;
    font-family: arial;
    font-size: 20px;            
}

h1 {
    color: darkblue;
    background-color: lightblue;
}
h2 { 
    color: darkred;
}
p {
    text-align: justify;
}